body{
  margin: 40px;
}


.phones-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.phone-card{
  width: 500px;
  height: 700px;
}

.phone-card a, h4, p{
  text-align: center;
  text-decoration: none;
  color: black;
}

.phone-card img{
  height: 300px;
  display: block;
  margin: 0 auto;
}

.description{
  text-align: justify;
}

.detail-card p{
  text-align: left;
}